@model Web.Models.Accounts.NewPasswordModel

@{
    ViewBag.Title = "Change Password confirmation";
    Layout = "_Layout";
}

<div class="row">
    <dov class="col-md-4">
        <h4>Change Password confirmation</h4>
        <hr/>
        <form method="post" asp-controller="Accounts" asp-action="NewPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Token"></label>
                <input asp-for="Token">
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword">
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </dov>
</div>